<div class="container">
  <div class="row pt-3">

    <div class="col-6">
      <div class="d-flex justify-content-between">
        <!-- This would need the implementation of the AudioService to be functional -->
        <audio controls  [src]="question.songSnippetPath" #audioPlayer>
        </audio>

        <button class="btn btn-outline-info rounded-pill d-flex align-items-center"
                (click)="playPlayback()"
                *ngIf="!answerSelected"
                [disabled]="isMusicPlayed"
        >
        <span class="play-btn me-4">

            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 26 26">
              <polygon class="play-btn__svg" points="9.33 6.69 9.33 19.39 19.3 13.04 9.33 6.69"/>
              <path class="play-btn__svg" d="M26,13A13,13,0,1,1,13,0,13,13,0,0,1,26,13ZM13,2.18A10.89,10.89,0,1,0,23.84,13.06,10.89,10.89,0,0,0,13,2.18Z"/>
            </svg>

        </span>
          START
        </button>


      </div>

      <div class="border-top mt-3 pt-3">
        <h2 class="text-center w-100 d-flex align-items-center">
          Time remaining:
          <span  class="countdown  m-auto rounded-circle border-white border text-center">
            {{ countdown }}
          </span>
        </h2>
        <!-- Countdown timer display -->

      </div>

      <div class="mt-3 pt-3 border-top" *ngIf="countdown || countdown === 0  ">
<!--      <div class="mt-3 pt-3 border-top" >-->
        <!-- Options list adjusted to disable removed options -->
        <div class="options row" *ngIf="question.type === 'choice'">
          <button class="rounded-pill btn  btn-outline-light col-6 mt-4 option "
                  [ngClass]="{'btn-success' : i === selectedAnswer, 'btn-danger' : i === wrongAnswerIndex}"
            *ngFor="let option of question.options; let i = index"
            [disabled]="isOptionRemoved(i)"
            (click)="onOptionSelected(i)">
            {{ option }}
          </button>

          <br>
          <button class="d-block btn btn-info score rounded-pill mt-4"
                  *ngIf="!isQuestionAnswered"
                  (click)="onOptionSubmit(selectedAnswer)">
            Submit</button>
          <button class="d-block btn btn-info score rounded-pill mt-4"
                  (click)="nextQuestion()"
                  *ngIf="isQuestionAnswered"
          >
            Next Question</button>
        </div>

        <!-- Conditionally show text answer input if it is the text question type -->
        <div *ngIf="question.type === 'text'" class="text-answer">
          <div class="form-text" >
          <input class="form-control" type="text"
                 [(ngModel)]="textAnswer" placeholder="Your answer"
                 [ngClass]="{'bg-danger' : isTextAnswerCorrect === false, 'bg-success' : isTextAnswerCorrect === true}"
          >
            <div>
              <span class="border-5 border-bottom border-white d-inline-block mx-2 px-3" *ngFor="let word of questionWordCount">_</span>
            </div>

          </div>
          <button class="d-block btn btn-info score rounded-pill mt-4"
                  (click)="onTextAnswerSubmit(textAnswer)">Submit</button>

          <h3 *ngIf="isTextAnswerCorrect === true || isTextAnswerCorrect === false">{{question.correctTextAnswer}}</h3>


        </div>
        <button class="d-block btn btn-info score rounded-pill mt-4"
                *ngIf="isTextAnswerCorrect === true || isTextAnswerCorrect === false"
                (click)="nextQuestion()">End Game</button>
      </div>

    </div>



    <div class="col-6">
      <!-- Shows the lyrics from the current question -->
      <div class="lyrics" >
        <div *ngFor="let lyric of question.lyricsDisplay" class="mt-5">
          <h3>{{ lyric }}</h3>
        </div>

      </div>


    </div>

  </div>
</div>
<div class="position-absolute w-100 h-100 top-0 left-0 win-overlay"
*ngIf="isWinOverlayDisplay"
(click)="hideWinOverlay()"
>
</div>
