<div class="top-nav w-100" >
  test
</div>
<div class="game-container w-100 h-100">
  <div class="text-white">

    <div class="d-flex justify-content-between border-bottom">

      <h1 class="">Finish the lyrics!</h1>

      <div>
        <div class="lifelines" *ngIf="currentQuestion">
          <button class="bg-white rounded-pill text-main px-3 hover-main h2"
            *ngFor="let lifeline of lifelines; let i = index"
            [disabled]="lifeline || currentQuestion.type === 'text'"
            (click)="useLifeline(i)">
            HELP <img src="assets/images/help-icon.png" height="45" class="me-3"> 1
          </button>
        </div>


      </div>

      <!-- Display the current score and level -->
      <div class="score-section  d-flex ">
        <h2 class="px-3 level rounded-start-pill">Score: {{ score }}</h2>
        <h2 class="px-3 score rounded-end-pill">Level: {{ currentLevel }}</h2>
      </div>
    </div>




    <!-- Render the question display component -->
    <app-question-display
      *ngIf="currentQuestion && !isGameEnded"
      [question]="currentQuestion"
      (scoreUpdate)="updateScore($event)"
      (nextQuestionEmit)="nextQuestionHandler()"
    >
    </app-question-display>

    <div class="text-center mt-5 pt-5" *ngIf="isGameEnded">
      <h1>
        🎉🎉🎉🎉 Happy Yalda 🎉🎉🎉🎉

      </h1>
      <h1>
        Your Last Score : <strong class="px-4 bg-white rounded rounded-pill text-red">{{score}}</strong>
      </h1>
    </div>


    <!-- Displayed when the game ends -->
    <div class="end-of-game" *ngIf="questions && currentLevel > questions.length">
      <p>End of the game! Your final score is {{ score }}.</p>
      <!-- Optionally, add a button to restart the game -->
    </div>
  </div>
</div>

