<div class="app-component">
  <h1>Guess the Song!</h1>

  <!-- Display the current score and level -->
  <div class="score-section">
    <p>Score: {{ score }}</p>
    <p>Level: {{ currentLevel }}</p>
  </div>

  <div class="lifelines" *ngIf="currentQuestion">
    <button
      *ngFor="let lifeline of lifelines; let i = index"
            [disabled]="lifeline || currentQuestion.type === 'text'"
      (click)="useLifeline(i)">
      Use lifeline to remove {{ i + 1 }} option(s)
    </button>
  </div>


  <!-- Render the question display component -->
  <app-question-display
    *ngIf="currentQuestion"
    [question]="currentQuestion"
    (scoreUpdate)="updateScore($event)"
    (textAnswerSubmit)="onAnswerSubmitted($event)">
  </app-question-display>


  <!-- Displayed when the game ends -->
  <div class="end-of-game" *ngIf="questions && currentLevel > questions.length">
    <p>End of the game! Your final score is {{ score }}.</p>
    <!-- Optionally, add a button to restart the game -->
  </div>
</div>
