<div class="question-display">
  <!-- Shows the lyrics from the current question -->
  <div class="lyrics" *ngIf="!answerSelected">
    <div *ngFor="let lyric of question.lyricsDisplay">
      {{ lyric }}
    </div>

  </div>
  <br />
  <hr>
  <br />

  <!-- Countdown timer display -->
  <div *ngIf="!answerSelected" class="countdown">
    Time remaining: {{ countdown }} seconds
  </div>
  <br />
  <br />
<hr>
  <br />
  <br />

  <!-- Options list adjusted to disable removed options -->
  <div class="options" *ngIf="question.type === 'choice'">
    <button *ngFor="let option of question.options; let i = index" [disabled]="isOptionRemoved(i)" (click)="onOptionSelected(i)">
      {{ option }}
    </button>
  </div>

  <!-- Conditionally show text answer input if it is the text question type -->
  <div *ngIf="question.type === 'text'" class="text-answer">
    <input type="text" [(ngModel)]="textAnswer" placeholder="Your answer">
    <button (click)="onTextAnswerSubmit()">Submit Answer</button>
  </div>

  <br />
  <br />
  <hr>
  <br />
  <br />

  <button (click)="playPlayback()">شروع</button>
  <!-- This would need the implementation of the AudioService to be functional -->
  <audio controls *ngIf="!answerSelected" #audioPlayer>
  </audio>
</div>
